@font-face {
  font-family: "font1";
  src: url("~@/style/font/font1.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font2";
  src: url("~@/style/font/font2.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font3";
  src: url("~@/style/font/font3.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font4";
  src: url("~@/style/font/font1.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font5";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font6";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font7";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font8";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font9";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font10";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font11";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font12";
  src: url("~@/style/font/font1.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "font13";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font14";
  src: url("~@/style/font/font1.woff2");
  font-weight: normal;
  font-style: normal;
}
